ACCESS_TOKEN_EXPIRE_MINUTES=
ADZUNA_APP_ID=
ADZUNA_APP_KEY=
ALGORITHM=
GEMINI_API_KEY=
GITHUB_CLIENT_SECRET=
JWT_SECRET=
LINKEDIN_CLIENT_SECRET=
MONGODB_DATABASE=
MONGODB_URI=
PROJECT_NAME=
SECRET_KEY=
VITE_API_BASE_URL=
VITE_GITHUB_CLIENT_ID=
VITE_GITHUB_CLIENT_SECRET=
VITE_GOOGLE_CLIENT_ID=
VITE_LINKEDIN_CLIENT_ID=
VITE_LINKEDIN_CLIENT_SECRET=